# Access data from Neuroverse SQL data stores

This notebook demonstrates the ability to access the data in a notebook.
<br><br>
Neuroverse organises it's sql data stores in Schema Manager. Schema Manager can be controlled through the UI or in a Notebook as shown in SchemaManagerCommands example notebook.
<br><br>
Data is ingested into the data stores using Data Stream Manager.
<br><br>
This data can be accessed either through Analysor (dashboards) or in Notebooks.

## Query objects
#### sql_query()
     - The query object uses the constructor sql_query(). The constructor takes the following named parameters: select, table_name, sub_query, alias, joins, where, group_by, having and order_by. Examples of are shown below
#### sql_join()
     - The join object uses the constructor sql_join(). The constructor takes the following named parameters: join_type, table_name, sub_query, alias and clause. Examples of are shown below

## Query functions
#### sql_to_df
     - The function is executed as sql_to_df(). It takes the named parameter sql_query. The function executes a query and returns a dataframe. Examples are shown below
#### sql_to_csv
     - The function is executed as sql_to_csv(). It takes the named parameters: folder_path, file_name, sql_query. The function executes a query and returns a csv. Examples are shown below

# Examples

## Load libraries and initialise

In [ ]:
from neuro_python import Neuro_Data
nd=Neuro_Data()

## Query and subquery examples

Table1

Id | Date | Tag | Value
--- | --- | --- | ---
1 | 2017-10-10 08:40:52 | 3 | 4.4
1 | 2017-10-10 08:44:52 | 2 | 204.4
2 | 2017-10-10 08:43:52 | 1 | 78.4
3 | 2017-10-10 08:41:52 | 2 | 384.4

In [ ]:
# select * from test where Id=1 order by Date
query1=nd.sql_query(select="*",table_name="table1",where="Id=1",order_by="Date")
#load into memory
df1=nd.sql_to_df(sql_query=query1)
#create csv in notebooks root folder
nd.sql_to_csv(file_name="query1.csv",sql_query=query1)
#create csv in notebooks 00_NeuroTemplates folder
nd.sql_to_csv(folder_path="/00_NeuroTemplates",file_name="query1.csv",sql_query=query1)

# Subquery
query2=nd.sql_query(select="Top 100 q1.Date,q1.Value",sub_query=query1,alias="q1")
#load into memory
df2=nd.sql_to_df(sql_query=query2)

## Join example

In [ ]:
#This query pivots row based data into columns based on Tag and Value fields
query3=nd.sql_query(select="Id,Date,Value",table_name="table1",where="Tag=1")
query4=nd.sql_query(select="Id,Date,Value",table_name="table1",where="Tag=2")
join1=nd.sql_join(jointype="INNER",sub_query=query4,alias="t2",clause="t1.Id=t2.Id and t1.Date=t2.Date")
query5=nd.sql_query(select="Id,Date,Value",table_name="table1",where="Tag=3")
join2=nd.sql_join(jointype="INNER",sub_query=query5,alias="t3",clause="t1.Id=t3.Id and t1.Date=t3.Date")
query6=nd.sql_query(select="t1.Id,t1.Date,t1.Value As Tag1,t2.Value As Tag2,t3.Value As Tag3",sub_query=query3,alias="t1",joins=[join1,join2])
#load into memory
df3=nd.sql_to_df(sql_query=query6)